.animate-show-contact { 
    -webkit-animation: show-contact 700ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: show-contact 700ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
} 
@-webkit-keyframes show-contact {
    from {
        left: 0px;
        top: 0px;
        z-index: 0;
    }
    75% {
        left: 72%;
        top: 72%
    }
    to {  
        left: calc(72% - 37px);
        top: calc(72% - 37px);
        z-index: 2;
    }
}
@keyframes show-contact {
    from {
        left: 0px;
        top: 0px;
        z-index: 0;
    }
    75% {
        left: 72%;
        top: 72%
    }
    to {  
        left: calc(72% - 37px);
        top: calc(72% - 37px);
        z-index: 2;
    }
}

.animate-show-contact.ng-hide { 
    -webkit-animation: leave-contact 700ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave-contact 700ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
} 
@-webkit-keyframes leave-contact {
    from {
        left: calc(72% - 37px);
        top: calc(72% - 37px);
    }
    25% {
        left: 72%;
        top: 72%;
        z-index: 0;
    }
    to {
        z-index: 0;
        left: 0px;
        top:0px;
    }
}
@keyframes leave-contact {
   from {
        left: calc(72% - 37px);
        top: calc(72% - 37px);
    }
    25% {
        left: 72%;
        top: 72%;
        z-index: 0;
    }
    to {
        z-index: 0;
        left: 0px;
        top:0px;
    }
} 