<div id="e-commerce-type" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Retour aux matières"
                       ng-click="vm.gotoMaterials()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="h2" ng-bind="vm.type.label">
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Détails de la caractéristique</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button class="md-raised md-background">
                <span translate="EC.SAVE">SAVE</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span translate="EC.BASIC_INFO">Basic Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <md-input-container class="md-block">
                                <label>Libellé de la caractéristique</label>
                                <input type="text" ng-model="vm.type.label">
                            </md-input-container>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <span>Attributs</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <md-input-container class="md-block" ng-repeat="attribute in vm.attributes">
                                <label>Valeur de l'attribut</label>
                                <input type="text" ng-model="attribute.label">
                            </md-input-container>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>


        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>