<div id="e-commerce-materials" class="page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span>Matières</span>
                </div>
                <div class="product-count secondary-text">
                    <span>Total matières:</span>
                    <span>{{vm.materials.length}}</span>
                </div>
            </div>

            <div class="search" layout="row" layout-align="start center" flex>
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="e-commerce-products-search" class="search-input" type="text" placeholder="Search"
                       translate translate-attr-placeholder="EC.SEARCH" flex>
            </div>
            <md-button class="md-background-fg" ng-click="vm.add()">
                <md-icon md-font-icon="icon-plus"></md-icon>
                Nouveau
            </md-button>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <md-table-container>
                    <table md-table  md-progress="promise">
                        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                            <tr md-row>
                                <th md-column md-order-by="label"><span>Libellé</span></th>
                                <th md-column>Action</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="material in vm.materials">
                                <td md-cell>{{material.label}}</td>
                                <td md-cell>
                        <md-button class="edit-button md-icon-button" ng-click="vm.gotoMaterialDetail(material)" aria-label="Détail meuble"
                                   translate translate-attr-aria-label="EC.PRODUCT_DETAILS">
                            <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
                        </md-button>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>