
<div layout-align="center center" style="position: absolute; bottom: 30px ; width: 100%">
    <md-button class="md-primary md-raised md-fab md-mini" aria-label="debut" ng-click="debut()">
                    <md-icon>first_page</md-icon>
    </md-button>
    <md-button class="md-primary md-raised md-fab md-mini" aria-label="précédent" ng-click="precedent()">
                    <md-icon>navigate_before</md-icon>
    </md-button>
    <md-button class="md-primary md-raised md-fab md-mini" aria-label="suivant" ng-click="suivant()">
                    <md-icon>navigate_next</md-icon>
    </md-button>
    <md-button class="md-primary md-raised md-fab md-mini" aria-label="suivant" ng-click="find()">
                    <md-icon>last_page</md-icon>
    </md-button>
   <!-- <a href="" ng-click="debut()" class="btn btn-grey">Début</a>
    <a href="" ng-click="precedent()"  class="btn btn-grey">Précedent</a>
    <a href="" ng-click="setPage(t)" ng-repeat="t in pages track by $index"  class="btn btn-grey">{{t}}</a>
    <a href="" ng-click="suivant()"  class="btn btn-grey">Suivant</a>
    <a href="" ng-click="fin()"  class="btn btn-grey">Fin</a> -->
</div>