<div ng-controller="furnitureController" layout="column">

    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-primary md-raised md-fab md-mini" aria-label="Modifier" ng-click="toggleNav()">
                <md-icon>menu</md-icon>
            </md-button>
            <h2>
                <span>Meubles</span>
            </h2>
            <span flex></span>
            <md-button class="md-primary md-raised" aria-label="Nouveau" ng-click="add($event)">
                <md-icon>add</md-icon>
                Nouveau
            </md-button>

        </div>
    </md-toolbar>

    <md-content md-colors="{background: 'background-A100-0.1'}" flex  layout="row" layout-wrap>
        <div flex="33" ng-repeat="furniture in furnitures">
            <md-card flex>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" ng-bind="furniture.label"></span>
                    </md-card-title-text>
                </md-card-title>
                <img ng-hide="furniture.pictures.length" ng-src="../images/logo.jpg" class="md-card-image" alt="Washed Out">
                <image-slider ng-show="furniture.pictures.length" pictures="furniture.pictures" class="md-card-image"></image-slider>
                <!--       
                <ul ng-show="furniture.pictures.length">
                    <li ng-repeat="picture in furniture.pictures">
                        <img ng-src="../images/products/{{furniture.id}}/{{picture.name}}" class="md-card-image">
                    </li>
                </ul>
                -->
                <md-card-actions layout="row" layout-align="end center">
                    <input id="upload{{$index}}" nv-file-select uploader="uploader" type="file" options="setUploadingPath(furniture)" class="ng-hide" multiple>
                    <md-button class="md-primary md-icon-button" aria-label="Modifier" ng-click="addImages(furniture, $index)">
                        <md-icon>add_to_photos</md-icon>
                    </md-button>
                    <md-button class="md-primary md-icon-button" aria-label="Modifier" ng-click="edit(furniture)">
                        <md-icon>edit</md-icon>
                    </md-button>
                    <md-button class="md-warn md-icon-button md-hue-2" aria-label="Supprimer" ng-click="remove(furniture)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </md-card-actions>
                <md-card-content>
                    <p ng-bind="furniture.description | crop : 150"></p>
                </md-card-content>

            </md-card> 
        </div>
    </md-content>
</div>

