<div id="login-wrapper" ng-controller="loginController" layout="column" layout-align="center center">
    <md-card md-whiteframe="4">
        <md-subheader class="md-primary">
            <!--    <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Authentification</span>
                    </md-card-title-text>
                </md-card-title>
            -->
            Authentification
        </md-subheader>
        <md-card-content>
            <div flex>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Nom d'utilisateur</label>
                    <input ng-model="user.login">
                </md-input-container>
            </div>
            <div flex>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Mot de passe</label>
                    <input ng-model="user.password" type="password">
                </md-input-container>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center" layout-margin>
            <md-button class="md-primary md-icon-button" aria-label="Modifier" ng-click="login()">
                <md-icon>edit</md-icon>
            </md-button>
        </md-card-actions>
    </md-card>
</div>