
<div ng-controller="subTypeController" layout="column">
    
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-primary md-raised md-fab md-mini" aria-label="Modifier" ng-click="toggleNav()">
                    <md-icon>menu</md-icon>
                </md-button>
                <h2>
                    <span>Accessoires</span>
                </h2>
                <span flex></span>
                <md-button class="md-primary md-raised" aria-label="Nouveau" ng-click="add($event)">
                    <md-icon>add</md-icon>
                    Nouveau
                </md-button>

            </div>
        </md-toolbar>

    <md-content md-colors="{background: 'background-A100-0.1'}" flex layout-padding>
        <md-list md-whiteframe="2" md-colors="{background: 'background-A100-0.95'}">
            <md-list-item ng-repeat="type in subtypes" layout-padding>
                <span>{{type.label}}</span>
                <span flex></span>
             
                <md-button class="md-primary md-raised md-fab md-mini" aria-label="Modifier" ng-click="edit(type)">
                    <md-tooltip md-direction="bottom">Modifier</md-tooltip>
                    <md-icon>edit</md-icon>
                </md-button>
                <md-button class="md-warn md-raised  md-fab md-mini md-hue-2" aria-label="Supprimer" ng-click="remove(type)">
                    <md-tooltip md-direction="bottom">Supprimer</md-tooltip>
                    <md-icon>delete</md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</div>
