<md-dialog aria-label="Ajouter une finition" class="full-screen">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Ajouter un meuble</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <div layout="row" flex="66">
                        <div layout="column" flex>
                            <div layout="row">
                                <div flex>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Libellé</label>
                                        <input ng-model="current.label">
                                    </md-input-container>
                                </div>
                                <div flex>
                                    <md-select ng-model="selectedType" ng-model-options="{trackBy: '$value.id'}" placeholder="Choisir un type">
                                        <md-option ng-value="type" ng-repeat="type in types">{{ type.label}}</md-option>
                                    </md-select>
                                </div>
                                <div flex>
                                    <md-select ng-model="selectedFinish" ng-model-options="{trackBy: '$value.id'}" placeholder="Choisir une finition">
                                        <md-option ng-value="finish" ng-repeat="finish in finishs">{{ finish.label}}</md-option>
                                    </md-select>
                                </div>
                                <div flex>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Stock</label>
                                        <input ng-model="current.stock">
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row">
                                <div flex>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Longueur</label>
                                        <input ng-model="current.width">
                                    </md-input-container>
                                </div>
                                <div flex>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Largeur / Hauteur</label>
                                        <input ng-model="current.height">
                                    </md-input-container>
                                </div>
                                <div flex>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Profondeur</label>
                                        <input ng-model="current.depth">
                                    </md-input-container>
                                </div>
                                <div flex layout="row" layout-align="center center">
                                    <md-switch  class="md-primary" ng-model="current.is_public" aria-label="Publier">
                                        Publier
                                    </md-switch>
                                </div>
                            </div>

                            <div layout="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Description</label>
                                    <textarea ng-model="current.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="cancel()">
                Annuler
            </md-button>
            <md-button class="md-primary md-raised" ng-click="save()">
                Sauvegarder
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
