<md-dialog aria-label="Ajouter un type">
    <form name="form" ng-cloak ng-submit="save(form)" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Ajouter un type</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Libellé</label>
                        <input name="label" ng-model="current.label" required>
                        <div ng-messages="form.label.$error" ng-show="form.login.$invalid">
                            <div ng-message="required">Le libellé est obligatoire</div>
                        </div>
                    </md-input-container>
                </div>
              
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="cancel()">
                Annuler
            </md-button>
            <md-button class="md-primary md-raised" type="submit">
                Sauvegarder
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
